   p{
        font-family: Arial;
        margin-top: 0;
        margin-bottom: 0;
    }
    .firstline{
        
        font-weight: bold;
        font-size:18px;
        width:300px;
        line-height:24px;
        margin-bottom:5px;
    }
    .secondline{
        
        font-size:14px;
        color:rgb(96,96,96);
        margin-bottom: 15px;
    }
    .actualpara{
        
        font-size:14px;
        color:rgb(96,96,96);
        width:300px;
        line-height: 20px;
        margin-bottom:15px;
    }
    .video-author{
        
        font-size:14px;
        color:rgb(96,96,96);
        margin-bottom: 100px;
    }
    .apple-text{
        font-size:14px;
        margin-bottom:20px;
        background-color: rgb(227,65,64);
        text-align: center;
        padding-top:18px;
        padding-bottom:18px;

    }
    .special{
        cursor: pointer;
    }
    .special:hover{
        text-decoration: underline;
    }